DATABASE_URL="postgresql://verzel_elite:verzel_elite@localhost:5432/verzel_elite?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-bytes"
APP_URL="http://localhost:3000"
STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
TMDB_API_READ_ACCESS_TOKEN=""

# Generate with: openssl rand -base64 32
AUTH_SECRET=""
